footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    text-align: center;
    background: #343a40!important;
    border-top: 8px solid #fff;
    height: 50px;
    color: #fff;
    margin-top: 50%;
}

.footerBar {
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: rgb(22, 22, 22)
}

h1 {
    color: #fff;
}

p {
    color: #fff;
}

.navbar-brand, .nav-link, h1 {
    font-family: 'Orbitron', sans-serif;
}

.form-group {
    color: #fff;
}