/* This keeps the footer at the bottom*/
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

.backGround {
    background-color: #000000!important;
    min-height: 100vh;
    position: relative;
    padding-bottom: 3.0rem;
    overflow: hidden;
    display: block;
}

.container {
    background-color: rgb(31, 29, 29);
    min-height: 50vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 3.0rem; /* Same height of footer*/
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1%;
    border: 2px solid #ffffff;

}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.0rem;
    background-color: #343a40!important;
    border-top: 2px solid #ffffff;
    text-align: center;
}
                                                                                
#footerAnchor {
    color: #ffffff;
    font-size: 12px;
}

/* Custom CSS Changes */
body {
    background-color: rgb(22, 22, 22)
}

h1 {
    color: #fff;
}

p {
    color: #fff;
}

.navbar-brand, .nav-link, h1, .card-title, .footerBar {
    font-family: 'Orbitron', sans-serif;
}

.form-group {
    color: #fff;
}

.container-pic {
    color: #fff;
}

.card {
    background: #343a40!important;
}

.card-text, p, .text-muted, .btn, .exampleFormControlTextarea1 {
    font-family: 'IBM Plex Sans', sans-serif;
}

.card-body {
    border: 2px solid #ffffff;
    border-radius: 2%;
}

#clickButton {
    background-color: rgb(212, 175, 55);
    color: #1b1b1b;
}

#clickButton:hover {
    background-color: #655421;
    color: #ffffff;
}

#emailLink {
    color: #ffc107;
    text-decoration: underline;
}

#emailLink:hover {
    color: #ffffff;
}

.detailsBox {
    font-size: 18px;
}
